<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
	<meta charset="utf-8">
	<title>Editar Servicio - Cetia</title>
</head>

<body>

	<!-- start header -->
	<div data-th-replace="layout/header :: contenendor-header"></div>
	<!-- end header -->

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Editar servivio</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3 class="mb-30">Editar servicio</h3>
						<form action="/a/update-servicio" method="POST">
							<div class="mt-10">
								<div class="form-group">
									<label for="exampleFormControlInput1">Titulo</label>
									<input type="hidden" name="servicio_id" th:value="${servicio.idservicio}">
									<input type="text" name="titulo" placeholder="Titulo" required="required"
									th:value="${servicio.titulo}" class="single-input">
								</div>
								<div class="form-group">
									<label for="exampleFormControlInput1">Descripción</label>
									<textarea class="single-textarea" name="descripcion" placeholder="Descripción" required="required"
			th:text="${servicio.descripcion}"></textarea>
								</div>
								<div class="form-group">
									<div class="form-select" id="default-select2">
										<select name="tipo">
											<option th:value="${servicio.tipo}">Tipo <th:block th:text="${': ' + servicio.tipo}"></th:block>
											</option>
											<option value="servicio">Servicio</option>
											<option value="programa">Programa</option>								
										</select> 
									</div>
								</div>
								<div class="form-group">
									<label for="exampleFormControlInput1">Precio</label>
									<input class="single-input" type="number" name="precio" placeholder="Precio" required="required" th:value="${servicio.precio}">
								</div>
								<div class="form-group">
									<label for="exampleFormControlInput1">Url Imagen</label>																		
									<input class="single-input" type="text" name="imagen" placeholder="Url Imagen" required="required" th:value="${servicio.imagen}">
									<img width="20%" alt="no encontrado" th:src="${'/img'+servicio.imagen}">
								</div>

								<div th:if="${param.cambio}">
									<div class="alert alert-success alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										Se ha actualizado correctamente!!
							
									</div>
								</div>		
								<button type="submit" class="primary-btn text-uppercase" value="Crear Publicación">Guardar
									Cambios</button>										
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->


	<!-- start footer -->
	<div data-th-replace="layout/footer :: contenendor-footer"></div>
	<!-- end footer -->

	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/easing.min.js"></script>
	<script src="/js/hoverIntent.js"></script>
	<script src="/js/superfish.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.tabs.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/mail-script.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>