<meta charset="UTF-8">
<!-- start footer Area -->
<footer class="footer-area section-gap" data-th-fragment="contenendor-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6">
                <div class="single-footer-widget">
                    <h6>Necesito Ayuda</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Tu madre es tu vecina</a></li>
                        <li><a href="#">Ella no te ama</a></li>
                        <li><a href="#">Te pega tu jefa</a></li>
                        <li><a href="#">Tienes el covid-19</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Contactenos</h6>
                    <h3>012-345-6789</h3>
                    <h3>012-345-6789</h3>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Boletin informático</h6>
                    <p>Envianos tu correo para informarte de algunas promociones que tenemos para usted</p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="/#"
                            method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="example@hotmail.com" onfocus="this.placeholder = ''"
                                         required type="email">
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn circle">Subscribe<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todo los derechos reservados | Desarrollado por <a href="/">cetia.pe</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->