<meta charset="UTF-8">
<footer class="footer-area section-gap" data-th-fragment="contenendor-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h6><i class="fas fa-brain fa-lg" style="color: #339af0;"></i> CETIA</h6>
                    <ul class="footer-nav">
                        <li><a ><i class="far fa-flag"></i> Aperturado el 14 de febrero de 2014</a></li>
                        <li><a ><i class="fas fa-check"></i> Atención exclusiva de servicios psicológicos.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">¿Dónde estamos?</h6>
                    <p><span class="lnr lnr-map-marker"></span>AV 26 DE ENERO 615 Ayacucho, Perú</p>
                    <h3><span class="lnr lnr-phone-handset"></span>(066) 326232</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Boletin informativo</h6>
                    <p>Envianos tu correo para enterarte todas nuestras promociones que tenemos para ti.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="/#" method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" onblur="this.placeholder = 'Your Email Address '"
                                        onfocus="this.placeholder = ''" placeholder="Your Email Address" required=""
                                        type="email" style="color: #777777;">
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn circle">Enviar<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> | Todos los derechos reservados | <a
                    href="/">cetia.pe</a>
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="https://es-la.facebook.com/CETIA.Psicologia/" target="_blank"><i class="fab fa-facebook-f" style="color: #FFFFFF;"></i></a>
                <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram" style="color: #FFFFFF;"></i></a>
                <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube" style="color: #FFFFFF;"></i></a>
                <a href="https://wa.me/51943768092?text=Hola,%20necesito%20información%20sobre" target="_blank"><i class="fab fa-whatsapp" style="color: #FFFFFF;"></i></a>       
            </div>
        </div>
    </div>
</footer>

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.tabs.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>