<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
<meta charset="utf-8">
<title>Crear Cuenta - Cetia</title>

	<!-- CSS DEL LOGIN GO-->
	
		<!-- CSS de bootstrap -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

		<!-- Fontawesome -->

		<link rel="stylesheet" th:href="@{/fonts/all.min.css}" />


	    <!-- estilo personal -->
	    <link rel="stylesheet" th:href="@{/css/login.css}" />


	    <!-- Imagen de pestaña -->
		<link rel="icon"  th:href="@{/img/dog.ico}">
	
	
	
	<!-- CSS DEL LOGIN END-->



</head>
<body>


<!-- ANTIGUO LOGIN

	<a href="/" class="btn">Volver</a>
	<h2>Crear Cuenta</h2>
	<form action="/crear-cuenta" method="POST">
		<input type="text" name="cuenta" placeholder="cuenta" required="required" th:value="${cuenta}">
		<input type="text" name="email" placeholder="email" required="required" th:value="${email}">
		<input type="password" name="password" placeholder="contraseña" required="required" th:value="${password}">
		
		<th:block th:if="${estado == true}">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				Se ha creado tu cuenta satisfactoriamente
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</th:block>
		<th:block th:if="${estado == false}">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				Ya existe la Cuenta y/o Email registrado
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</th:block>
		<input type="submit" value="Crear cuenta"  class="btn btn-primary">
		<a href="/login" class="btn btn-secondary">Iniciar Sesion</a>
	</form>
-->


	<!-- NUEVA ESTRUCTURA DEL CREAR CUENTA GOO-->
	<div class="container-fluid">

		<div class="row alert justify-content-md-center">

			<div id="c" class="col-12 col-md-3 bg-rounded">
				<div class="row">
					<div class="col-12 col-md-12" align="center">
						<h6><i class="fas fa-brain fa-lg"></i> CETIA</h6>
					</div>
					<div class="col-12 col-md-12" align="center">
						<img th:src="@{/img/login.PNG}" class="img-fluid rounded-circle"  alt="user" width="110" height="120">
					</div>
					<div class="col-12 col-md-12">
						<form action="/crear-cuenta" method="POST" class="loguearse m-4" id="forminicio">

							<div class="form-group">
								<label for="nombre">Usuario</label>
								<input type="text" name="cuenta" placeholder="Cuenta" required="required" class="form-control" th:value="${cuenta}"> 
							</div>

							<div class="form-group">
								<label for="nombre">Email</label>
								<input type="text" name="email" placeholder="email" required="required" class="form-control" th:value="${email}">
							</div>

							<div class="form-group">
								<label for="apellido">Contraseña</label>
								<input type="password" name="password" placeholder="Contraseña" required="required" class="form-control" th:value="${password}">
							</div>


							<div th:if="${estado == true}">
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
									</button>
									Se ha creado su cuenta satisfactoriamente

								</div>
						   </div>

						   
							<div th:if="${estado == false}">
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
									</button>
									Ya existe la cuenta y/o email registrado
								</div>
						   </div>


<!-- 						   
						   <div th:if="${param.logout}">
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
									</button>
									Usted se ha desconectado
								</div>
						   </div>
-->							
						  
							<button class="btn btn-info btn-block" id="btniniciar" name="button" type="submit" value="Crear cuenta" >Crear cuenta
							</button>
							
<!--							<button  href="/login" class="btn  btn-primary btn-block" id="btniniciar" name="button" type="submit" >LOGIN
							</button>
-->
							<a href="/login" class="btn btn-secondary btn-block">LOGIN</a>   
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

   	<!-- NUEVA ESTRUCTURA DEL LOGIN FINN-->











	
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>
</html>