
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
<meta charset="utf-8">
<title>Psicologos - Cetia</title>
</head>
<body>
	<!-- start header -->
	<div data-th-replace="layout/header :: contenendor-header"></div>
	<!-- end header -->

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Nuestro equipo</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start team Area -->
	<section class="team-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-7">
					<div class="title text-center">
						<h1 class="mb-10">
							Nuestro Equipo
							</Nue>
						</h1>
						<p>Nuestros especialistas con años de experiencias,
							comprometidos con la búsqueda de la mejor atención psicológica.</p>
					</div>
				</div>
			</div>
			

			<div class="row justify-content-center d-flex align-items-center">
			<th:block th:each="user : ${psicologos}">
				
				<div class="col-lg-3 col-md-6 single-team">
					<div class="thumb">
						<img class="img-fluid" th:src="${'/img/'+ user.imagen}" alt="">
						<div class="align-items-end justify-content-center d-flex">
							<div class="social-links">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
							<p th:text="${user.especialidad}"></p>
							<h4 th:text="${user.usuario.nombre}+' '+ ${user.usuario.apellido}"></h4>
						</div>
					</div>
				</div>
				
			</th:block>
			
			
				

			</div>
		</div>
	</section>
	<!-- End team Area -->

	<!-- Start feedback Area -->
	<section class="feedback-area section-gap aboutpage-feedback-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 pb-60 header-text text-center">
					<h1 class="mb-10 ">Enjoy our Client’s Feedback</h1>
					<p>Who are in extremely love with eco friendly system..</p>
				</div>
			</div>
			<div
				class="row feedback-contents justify-content-center align-items-center">
				<div
					class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
					<div class="overlay overlay-bg"></div>
					<a class="play-btn"
						href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img
						class="img-fluid" src="img/play-btn.png" alt=""></a>
				</div>
				<div class="col-lg-6 feedback-right">
					<div class="active-review-carusel">
						<div class="single-feedback-carusel">
							<img src="img/r2.png" alt="">
							<div class="title d-flex flex-row">
								<h4 class="pb-10">Fannie Rowe</h4>
								<div class="star">
									<span class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
							<p>Accessories Here you can find the best computer accessory
								for your laptop, monitor, printer, scanner, speaker. Here you
								can find the best computer accessory for your laptop, monitor,
								printer, scanner, speaker.</p>
						</div>
						<div class="single-feedback-carusel">
							<img src="img/r2.png" alt="">
							<div class="title d-flex flex-row">
								<h4 class="pb-10">Fannie Rowe</h4>
								<div class="star">
									<span class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span class="fa fa-star"></span>
								</div>
							</div>
							<p>Accessories Here you can find the best computer accessory
								for your laptop, monitor, printer, scanner, speaker. Here you
								can find the best computer accessory for your laptop, monitor,
								printer, scanner, speaker.</p>
						</div>
						<div class="single-feedback-carusel">
							<img src="img/r2.png" alt="">
							<div class="title d-flex flex-row">
								<h4 class="pb-10">Fannie Rowe</h4>
								<div class="star">
									<span class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked"></span> <span
										class="fa fa-star checked	"></span>
								</div>
							</div>
							<p>Accessories Here you can find the best computer accessory
								for your laptop, monitor, printer, scanner, speaker. Here you
								can find the best computer accessory for your laptop, monitor,
								printer, scanner, speaker.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End feedback Area -->


	<!-- start footer Area -->
	<div data-th-replace="layout/footer :: contenendor-footer"></div>
	<!-- End footer Area -->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>
</html>