<!DOCTYPE html>
<html lang="es">

<head>
	<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
	<meta charset="utf-8">
	<title>Test - Cetia</title>
</head>

<body>
	<!-- start header -->
	<div data-th-replace="layout/header :: contenendor-header"></div>
	<!-- end header -->

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Seleccione el test que desea realizar</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- TESTS -->
	<section class="top-category-widget-area pt-90 pb-90 ">
		<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="/test-familiar" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="img/blog/IT.jpg"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Test familiar</h4>
								<span></span>
								<p></p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="/test-depresion" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="img/blog/IT.jpg"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Test de depresión</h4>
								<span></span>
								<p></p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="/test-ansiedad" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="img/blog/IT.jpg"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase">Test de ansiedad</h4>
								<span></span>
								<p></p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- TESTS -->





	<!-- start footer Area -->
	<div data-th-replace="layout/footer :: contenendor-footer"></div>
	<!-- End footer Area -->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>