<!DOCTYPE html>
<html lang="es">

<head>
	<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
	<meta charset="utf-8">
	<title>Test - Cetia</title>


	<!-- CSS TEST -->
	<link rel="stylesheet" href="/test/css/theme.min337a.css">
	<link rel="stylesheet" href="/test/css/theme.min5218.css">
	<!-- CSS TEST -->

	<!-- FONTAWESOME TEST -->
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.eot">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.html">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.svg">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.ttf">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.woff">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfontd41d.eot">
	<!-- FONTAWESOME TEST -->


</head>

<body>

	<!-- start header -->
	<div data-th-replace="layout/header :: contenendor-header"></div>
	<!-- end header -->

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Test de funcionamiento familiar</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- TESTS -->
	<section class="top-category-widget-area pt-90 pb-90 ">
		<div class="container">
			<div class="row">


				<!-- MACHETEAR ESTO-->

				<div class="testpsico" id="familiar">

					<h2>Test de funcionamiento familiar (FF – SIL)</h2>

					<p class="has-medium-font-size text-center bg-secondary">A continuación, presentamos una serie de situaciones que pueden ocurrir o no en su familia, es necesario que usted la clasifique y seleccione su respuesta según la frecuencia en que ocurre la situación.</p>

					<div class="question show">
						<p><span class="number">1<span>/14</span></span>Se toman decisiones entre todos para cosas
							importantes de la familia</p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq901a" name="phq901" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq901a">Casi Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq901b" name="phq901" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq901b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq901c" name="phq901" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq901c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq901d" name="phq901" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq901d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq901e" name="phq901" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq901e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">2<span>/14</span></span> En mi casa predomina la armonía </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq902a" name="phq902" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq902a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq902b" name="phq902" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq902b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq902c" name="phq902" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq902c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq902d" name="phq902" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq902d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq902e" name="phq902" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq902e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>

				
					<div class="question">
						<p><span class="number">3<span>/14</span></span>En mi familia cada uno cumple sus
							responsabilidades </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq903a" name="phq903" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq903a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq903b" name="phq903" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq903b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq903c" name="phq903" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq903c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq903d" name="phq903" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq903d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq903e" name="phq903" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq903e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">4<span>/14</span></span> Las manifestaciones de cariño forman parte de
							nuestra vida cotidiana </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq904a" name="phq904" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq904a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq904b" name="phq904" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq904b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq904c" name="phq904" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq904c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq904d" name="phq904" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq904d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq904e" name="phq904" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq904e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">5<span>/14</span></span>Nos expresamos sin insinuaciones, de forma clara
							y directa </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq905a" name="phq905" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq905a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq905b" name="phq905" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq905b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq905c" name="phq905" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq905c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq905d" name="phq905" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq905d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq905e" name="phq905" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq905e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">6<span>/14</span></span> Podemos aceptar los defectos de los demás y
							sobrellevarlos </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq906a" name="phq906" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq906a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq906b" name="phq906" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq906b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq906c" name="phq906" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq906c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq906d" name="phq906" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq906d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq906e" name="phq906" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq906e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">7<span>/14</span></span> Tomamos en consideración las experiencias de
							otras familias ante situaciones difíciles </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq907a" name="phq907" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq907a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq907b" name="phq907" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq907b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq907c" name="phq907" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq907c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq907d" name="phq907" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq907d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq907e" name="phq907" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq907e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">8<span>/14</span></span> Cuando alguien de la familia tiene un problema,
							los demás ayudan </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq908a" name="phq908" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq908a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq908b" name="phq908" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq908b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq908c" name="phq908" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq908c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq908d" name="phq908" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq908d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq908e" name="phq908" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq908e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">9<span>/14</span></span> Se distribuyen las tareas del hogar, de forma
							que nadie esté sobrecargado </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq909a" name="phq909" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq909a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq909b" name="phq909" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq909b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq909c" name="phq909" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq909c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq909d" name="phq909" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq909d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq909e" name="phq909" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq909e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>

					<div class="question">
						<p><span class="number">10<span>/14</span></span> Las costumbres familiares pueden modificarse
							ante determinadas situaciones </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9010a" name="phq9010" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9010a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9010b" name="phq9010" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9010b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9010c" name="phq9010" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9010c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9010d" name="phq9010" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9010d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9010e" name="phq9010" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9010e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>

					
					<div class="question">
						<p><span class="number">11<span>/14</span></span> Podemos conversar diversos temas sin temor </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9011a" name="phq9011" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9011a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9011b" name="phq9011" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9011b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9011c" name="phq9011" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9011c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9011d" name="phq9011" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9011d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9011e" name="phq9011" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9011e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">12<span>/14</span></span> Ante una situación familiar difícil somo
							capaces de buscar ayuda en otras personas </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9012a" name="phq9012" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9012a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9012b" name="phq9012" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9012b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9012c" name="phq9012" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9012c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9012d" name="phq9012" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9012d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9012e" name="phq9012" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9012e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">13<span>/14</span></span> Los intereses y necesidades de cada cual, son
							respetados por el núcleo familiar </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9013a" name="phq9013" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9013a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9013b" name="phq9013" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9013b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9013c" name="phq9013" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9013c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9013d" name="phq9013" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9013d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9013e" name="phq9013" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9013e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">14<span>/14</span></span> Nos demostramos el cariño que nos tenemos </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9014a" name="phq9014" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9014a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9014b" name="phq9014" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9014b">Pocas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9014c" name="phq9014" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9014c">A veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9014d" name="phq9014" value="4"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9014d">Muchas veces</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="phq9014e" name="phq9014" value="5"
										class="custom-control-input">
									<label class="custom-control-label" for="phq9014e">Casi siempre</label>
								</div>
							</div>
						</div>
					</div>

				</div>


				<div class="resultadopsico mt-5">

					<h2 id="phqtit" class="text-center mb-3">TEST DE FUNCIONAMIENTO FAMILIAR (FF – SIL)</h2>

					<p class="text-center mb-5">Puntación: <span id="puntuacion"></span></p>

					<div class="row mb-5">
						<div class="col-md-6 col-12">
							<div class="has-medium-font-size bg-secondary">
								<div id="resf1" class="d-none">
									<h3>Familia funcional </h3>
									<p>Se aprecia una familia funcional.</p>
								</div>
								<div id="resf2" class="d-none">
									<h3>Familia moderadamente funcional </h3>
									<p>Se aprecian síntomas de una familia moderadamente funcional, por lo que si requieres los servicios de un psicólogo,
										llámanos y estudiaremos tu caso.</p>
								</div>
								<div id="resf3" class="d-none">
									<h3>Familia disfuncional </h3>
									<p>Se aprecian síntomas de una familia disfuncional, por lo que sería conveniente que
										hablases con un profesional.</p>
								</div>
								<div id="resf4" class="d-none">
									<h3>Familia severamente disfuncional</h3>
									<p>Se aprecia una familia severamente disfuncional, por lo que deberías ponerte en contacto con
										nosotros lo antes posible.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="card bg-light border-light" id="phqdesc">
								<div class="card-body pb-0">
									<p>Test de funcionamiento familiar (FFSIL): instrumento construido por Master en
										Psicología de Salud para evaluar cuanti-
										-cualitativamente la funcionalidad familiar,
										el cual mide las variables cohesión, armonía, comunicación, permeabilidad,
										afectividad, roles y adaptabilidad.</p>
									<p>A pesar de los resultados obtenidos, es recomendable que, si tienes una
										puntuación entre moderada y grave, te contáctes con nosotros para entender en
										un contexto clínico la situación en el que te encuentras y, de esta forma, poder
										ayudarte de la mejor forma posible.</p>
									<div class="text-center mb-3"><a href="/servicios" class="btn btn-primary">Ver
											servicios</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- MACHETEAR ESTO-->


			</div>
		</div>
	</section>
	<!-- TESTS -->





	<!-- start footer -->
	<div data-th-replace="layout/footer :: contenendor-footer"></div>
	<!-- end footer -->

	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/easing.min.js"></script>
	<script src="/js/hoverIntent.js"></script>
	<script src="/js/superfish.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.tabs.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/mail-script.js"></script>
	<script src="/js/main.js"></script>



	<!-- JS TEST -->

	<script src="/test/js/themec729.js"></script> 

	<!-- JS TEST -->

</body>

</html>