<!DOCTYPE html>
<html lang="es">

<head>
	<th:block data-th-replace="layout/head :: contenendor-head"></th:block>
	<meta charset="utf-8">
	<title>Test - Cetia</title>


	<!-- CSS TEST -->
	<link rel="stylesheet" href="/test/css/theme.min337a.css">
	<link rel="stylesheet" href="/test/css/theme.min5218.css">
	<!-- CSS TEST -->

	<!-- FONTAWESOME TEST -->
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.eot">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.html">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.svg">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.ttf">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfont3e6e.woff">
	<link rel="stylesheet" href="/test/fonts/fontawesome-webfontd41d.eot">
	<!-- FONTAWESOME TEST -->


</head>

<body>

	<!-- start header -->
	<div data-th-replace="layout/header :: contenendor-header"></div>
	<!-- end header -->

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Test de Ansiedad</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- TESTS -->
	<section class="top-category-widget-area pt-90 pb-90 ">
		<div class="container">
			<div class="row">


				<!-- MACHETEAR ESTO-->

				<div class="testpsico" id="gad">

					<h2>Test de ansiedad</h2>

					<p class="has-medium-font-size text-center bg-secondary">Durante las últimas 2 semanas, ¿con qué
						frecuencia has experimentado alguno de los siguientes problemas?</p>



					<div class="question show">
						<p><span class="number">1<span>/7</span></span> Nerviosismo, ansiedad o inquietud extrema </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad701a" name="gad701" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad701a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad701b" name="gad701" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad701b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad701c" name="gad701" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad701c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad701d" name="gad701" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad701d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">2<span>/7</span></span> Incapacidad para dejar de pensar </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad702a" name="gad702" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad702a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad702b" name="gad702" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad702b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad702c" name="gad702" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad702c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad702d" name="gad702" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad702d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">3<span>/7</span></span> Preocupación excesiva por múltiples causas </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad703a" name="gad703" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad703a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad703b" name="gad703" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad703b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad703c" name="gad703" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad703c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad703d" name="gad703" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad703d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">4<span>/7</span></span> Dificultad para llegar a relajarse </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad704a" name="gad704" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad704a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad704b" name="gad704" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad704b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad704c" name="gad704" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad704c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad704d" name="gad704" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad704d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">5<span>/7</span></span> No ser capaz de estarse quieto durante cortos
							espacios de tiempo </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad705a" name="gad705" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad705a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad705b" name="gad705" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad705b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad705c" name="gad705" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad705c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad705d" name="gad705" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad705d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">6<span>/7</span></span> Sentir disgusto o irritabilidad con facilidad
						</p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad706a" name="gad706" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad706a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad706b" name="gad706" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad706b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad706c" name="gad706" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad706c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad706d" name="gad706" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad706d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<p><span class="number">7<span>/7</span></span> Sentir preocupación ante la posibilidad de
							sufrir una desgracia </p>
						<div class="answers d-flex justify-content-center">
							<div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad707a" name="gad707" value="0"
										class="custom-control-input">
									<label class="custom-control-label" for="gad707a">Nunca</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad707b" name="gad707" value="1"
										class="custom-control-input">
									<label class="custom-control-label" for="gad707b">Menos de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad707c" name="gad707" value="2"
										class="custom-control-input">
									<label class="custom-control-label" for="gad707c">Más de la mitad de los
										días</label>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" id="gad707d" name="gad707" value="3"
										class="custom-control-input">
									<label class="custom-control-label" for="gad707d">Casi todos los días</label>
								</div>
							</div>
						</div>
					</div>

				</div>


				<div class="resultadopsico mt-5">

					<h2 id="gadtit" class="text-center mb-3">Test de ansiedad</h2>

					<p class="text-center mb-5">Puntación: <span id="puntuacion"></span></p>

					<div class="row mb-5">
						<div class="col-md-6 col-12">
							<div class="has-medium-font-size bg-secondary">
								<div id="resgad1" class="d-none">
									<h3>No se aprecia ansiedad</h3>
									<p>No se aprecia ansiedad, por lo que si requieres los servicios de un psicólogo,
										llámanos y estudiaremos tu caso</p>
								</div>
								<div id="resgad2" class="d-none">
									<h3>Síntomas de ansiedad leves</h3>
									<p>Se aprecian síntomas de ansiedad leves, así que es posible que en tu día a día no
										te sientas del todo bien y necesites apoyo</p>
								</div>
								<div id="resgad3" class="d-none">
									<h3>Síntomas de ansiedad moderados</h3>
									<p>Se aprecian síntomas de ansiedad moderados, por lo que sería conveniente que
										hablases con un profesional</p>
								</div>
								<div id="resgad4" class="d-none">
									<h3>Síntomas de ansiedad elevados</h3>
									<p>Se aprecia ansiedad elevada, por lo que deberías ponerte en contacto con nosotros
										lo antes posible</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="card bg-light border-light" id="gaddesc">
								<div class="card-body pb-0">
									<p>La escala GAD7 es una escala utilizada para detectar síntomas de ansiedad en la
										población general, pero no es infalible, ya que detecta 9 de cada 10 personas
										que sufren ansiedad.</p>
									<p>A pesar de los resultados obtenidos, es recomendable que, si tienes una
										puntuación entre moderada y grave, te contáctes con nosotros para entender en
										un contexto clínico la situación en el que te encuentras y, de esta forma, poder
										ayudarte de la mejor forma posible.</p>
									<div class="text-center mb-3"><a href="/servicios" class="btn btn-primary">Ver
											servicios</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- MACHETEAR ESTO-->


			</div>
		</div>
	</section>
	<!-- TESTS -->





	<!-- start footer -->
	<div data-th-replace="layout/footer :: contenendor-footer"></div>
	<!-- end footer -->

	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/easing.min.js"></script>
	<script src="/js/hoverIntent.js"></script>
	<script src="/js/superfish.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.tabs.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/mail-script.js"></script>
	<script src="/js/main.js"></script>



	<!-- JS TEST -->

	<script src="/test/js/themec729.js"></script> 

	<!-- JS TEST -->

</body>

</html>